<!--
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to bbcare.com, <%= @parent.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your password is: <%= @parent.password_digest %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
-->

Hi <%= @parent.name %>
<br>
Someone requested a reset of your password.
<br>
If this was you, click on the link to reset your password. The link will expire automatically in 15 minutes.
<br>
<%= link_to "Reset Password", password_reset_edit_url(token: @token) %>